*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_div{
    height : 100vh;
    width: 100vw;
    display : flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(116, 6, 116), rgba(236, 71, 236, 0.801));
}

.center_div{
    height : 450px;
    width : 400px;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    margin : 20px;
}

.top{
    padding : 12px;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color : white;
}

.input-wrapper{
    display : flex;
    align-items: center;
    justify-content: center;
    margin : 25px 15px;
}

input{
    padding : 10px;
    margin : 15px;
    min-width: 200px;
    width : 400px;
    border-radius: 5px;
    outline : none;
    border : none;
    font-size: 16px;
    color : teal;
}

.circle{
    display : flex;
    justify-content: center;
    align-items: center;
    font-size : 1.2rem;
    font-weight: bold;
    background-color: teal;
    min-height: 40px;
    min-width: 40px;
    border-radius : 50%;
    color : white;
    border : none;
    cursor : pointer;
}

ul{
    font-size: 1.3rem;
    color :teal;
    margin : 15px;
    list-style: none;
}

ul li{
    padding : 10px;
    margin : 5px;
    background-color: white;
}